<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/shopping-list">Shopping List</a>
      <a mat-list-item routerLink="/recipe" *ngIf="isLogedin">Recipes</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Angular-course-project</span>

      <span class="spacer"></span>
      <!--For adding space between the header and options-->

      <button
        mat-icon-button
        [matTooltip]="isLogedin ? 'Logout' : 'Login'"
        routerLink="/auth"
        (click)="onLogout()"
      >
        <mat-icon *ngIf="!isLogedin">login</mat-icon>
        <mat-icon *ngIf="isLogedin">logout</mat-icon>
      </button>

      <button
        class="menu-button"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Actions"
        matTooltip="Actions"
        *ngIf="isLogedin"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="onSave()">
          <mat-icon>save</mat-icon>
          <span>Save Data</span>
        </button>
        <button mat-menu-item (click)="onFetch()">
          <mat-icon>call_received</mat-icon>
          <span>Fetch Data</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
