<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div>
        <mat-progress-spinner
          mode="indeterminate"
          color="primary"
          *ngIf="isLoading"
        ></mat-progress-spinner>
      </div>
      <form
        #authForm="ngForm"
        (ngSubmit)="onSubmit(authForm)"
        *ngIf="!isLoading"
      >
        <mat-form-field class="field-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            name="email"
            id="email"
            placeholder="Enter Email"
            ngModel
            #email="ngModel"
            required
            email
          />
          <mat-error *ngIf="email.hasError('required') && email.touched"
            >Email is required!</mat-error
          >
          <mat-error *ngIf="email.hasError('email') && email.touched"
            >Please enter valid Email!</mat-error
          >
        </mat-form-field>

        <mat-form-field class="field-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            name="password"
            id="password"
            placeholder="Enter Password"
            ngModel
            #password="ngModel"
            required
            minlength="6"
          />
          <mat-hint>Minimum length is 6</mat-hint>
          <mat-error *ngIf="password.hasError('required') && password.touched"
            >Please enter Password!</mat-error
          >
          <mat-error *ngIf="password.hasError('minlength') && password.touched"
            >The minimum length required for password is
            {{ password.errors.minlength.requiredLength }} and provided is
            {{ password.errors.minlength.actualLength }}</mat-error
          >
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          class="button-list"
          type="submit"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? "Log In" : "Sign Up" }}
        </button>

        <button
          mat-raised-button
          color="primary"
          class="button-list"
          type="button"
          (click)="onSwitchLogin()"
        >
          {{ isLoginMode ? "New User?...Sign In" : "Signed Up?..Log In" }}
        </button>
      </form>
    </div>
  </div>
</div>
